@charset "utf-8";

.navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    background-color: rgb(89, 142, 155);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:hover {
    color: #2684B7;
  }  

html{
    overflow-y:scroll;
}

body{
    margin:0; 
    padding:0; 
    font-size:12px; 
    font-family:verdana, Arial, Helvetica, sans-serif; 
    color:#FFFFFF; 
    background-color:#2684B7;
}

.justify{
    text-align:justify;
}

.bold{
    font-weight:bold;
}

.center{
    text-align:center;
}

.right{
    text-align:right;
}

.nostart{
    margin:0; 
    padding:0; 
    list-style-type:none;
}

.clear{
    clear:both;
}

br.clear{
    clear:both; 
    margin-top:-15px;
}

a{
    outline:none; 
    text-decoration:none;
}

.fl_left, .imgl{
    float:left;
}

.fl_right, .imgr{
    float:right;
}

img{
    display:block; 
    margin:0; 
    padding:0; 
    border:0;
}
.imgl, .imgr{
    border:1px solid #DFDFDF; 
    padding:5px; 
    color:#666666; 
    background-color:#FFFFFF;
}
.imgl{
    margin:0 8px 8px 0; 
    clear:left;
}
.imgr{
    margin:0 0 8px 8px; 
    clear:right;
}

/* ---------------------------------Wrapper------------------------------------- */

div.wrapper{
    display:block; 
    width:100%; 
    margin:0; 
    text-align:left;
}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
    margin:0 0 20px 0; 
    padding:0 0 8px 0; 
    font-size:20px; 
    font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; border-bottom:1px dotted #DDDDDD;
}
.titulli{
    color:#666666; 
    background-color:rgb(89, 142, 155);
}
.menu{
    color:#FFFFFF; 
    background-color:#000000;
}
.lastpost, .postimet, .about{
    color:#666666; 
    background-color:#FFFFFF;
}
.col6{
    color:#999999; 
    background-color:#F3F3F3;
}
.col6 a{
    color:#2684B7; 
    background-color:#F3F3F3;
}
.col7, .col7 a{
    color:#FFFFFF; 
    background-color:#29313C;
}

#header, #topbar, #lastpostid, #postimetefundit, #breadcrumb, #aboutcontainer, #footer, #copyright{
    display:block; 
    position:relative; 
    width:960px; 
    margin:0 auto;
}

#header{
    padding:30px 0; 
    font-family:Georgia, "Times New Roman", Times, serif;
}
#header #logo{
    display:block; 
    float:left; 
    width:300px; 
    margin-top:7px;
}
#header #logo h1, #header #logo p{
    margin:0; 
    padding:0; 
    line-height:normal;
}
#header #logo h1{
    margin:0 0 10px 0; 
    padding:0; 
    font-size:36px; 
    border:none;
}
#header h1 a{
    color:rgb(253, 253, 253); 
    background-color:rgb(89, 142, 155);
}
#header #menu{
    float:right; padding:10px 10px 12px 10px; color:#000000; background-color:rgb(89, 142, 155);
}
#header #menu p{
    margin:0 0 8px 0; 
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* ----------------------------------------------Posti i fundit------------------------------------- */

#lastpostid{
    padding:30px 0 5px 0;
    font-size:16px; 
    font-family:Georgia, "Times New Roman", Times, serif;
}
#lastpostid .fl_left{
    display:block; 
    float:left; 
    width:515px; 
    height:240px; 
    margin:0; 
    padding:30px; 
    color:#FFFFFF; 
    background-color:#2684B7;
}
#lastpostid .fl_left h2{
    font-size:46px; 
    margin:0 0 15px 0; 
    padding:0; 
    border:none; 
    color:#FFFFFF; 
    background-color:#2684B7;
}
#lastpostid .fl_left p{
    margin:0; 
    padding:0; 
    line-height:1.6em;
}
#lastpostid .fl_left p.readmore{
    display:block; 
    width:100%; 
    margin:20px 0 0 0; 
    padding:0; 
    text-align:right; 
    line-height:normal;
}
#lastpostid .fl_left p.readmore a{
    padding:8px 15px; 
    font-size:18px; 
    color:#FFFFFF; 
    background-color:#1C5E82;
}
#lastpostid .fl_right{
    float:right;
}

/* ----------------------------------------------Postet------------------------------------- */

#postimetefundit ul, #postimetefundit p, #postimetefundit h2, #postimetefundit img{
    margin:0; 
    padding:0; 
    list-style:none;
}
#postimetefundit li{
    display:block; 
    float:left; 
    width:294px; 
    height:180px; 
    margin:0 9px 0 0; 
    padding:10px; 
    color:#666666; 
    background-color:#EFEFEF;
}
#postimetefundit li:hover, #postimetefundit li:hover h2{
    color:#666666; 
    background-color:#E5E5E5;
}
#postimetefundit li.last{
    margin-right:0;
}
#postimetefundit .fl_right{
    display:block; 
    float:right; 
    width:185px; 
    padding:10px 0 0 0;
}
#postimetefundit h2{
    margin:0 0 5px 0; 
    padding:0 0 3px 0; 
    font-size:14px; 
    font-weight:bold; 
    color:#666666; 
    background-color:#EFEFEF; 
    border-bottom-color:#666666;
}
#postimetefundit p{
    margin:0; 
    padding:0; 
    line-height:1.6em;
}
#postimetefundit p.readmore{
    display:block; 
    width:100%; 
    margin:15px 0 0 0; 
    padding:0; 
    text-align:right; 
    line-height:normal;
}
#postimetefundit p.readmore a{
    padding:8px 15px; 
    font-weight:bold; 
    color:#FFFFFF; 
    background-color:#666666;
}

/* ----------------------------------------------Content------------------------------------- */

#aboutcontainer{padding:30px 0; line-height:1.4em;}
#aboutcontainer a{color:#2684B7; background-color:#FFFFFF;}
#aboutcontainer h1, #aboutcontainer h2, #aboutcontainer h3, #aboutcontainer h4, #aboutcontainer h5, #aboutcontainer h6{padding-bottom:8px; border-bottom:1px dotted #CCCCCC;}
#aboutcontent{display:block; float:left; width:600px;}


/* ----------------------------------------------Community------------------------------------- */

#column{
    display:block; 
    float:right; 
    width:300px;
}
#column .community, #column #featured{
    display:block; 
    width:300px; 
    margin-bottom:20px;}
#column .community h2.title{
    display:block; 
    width:100%; 
    height:65px; 
    margin:0; 
    padding:15px 0 0 0; 
    font-size:20px; 
    line-height:normal; 
    border-bottom:1px dashed #666666;}
#column .community h2.title img{
    float:left; 
    margin:-15px 8px 0 0; 
    padding:5px; 
    border:1px solid #666666;}
#column div.imgholder{
    display:block; 
    width:290px; 
    margin:0 0 10px 0; 
    padding:4px; 
    color:#666666; 
    background-color:#FFFFFF; 
    border:1px solid #CCCCCC;}
#column .community p.readmore{
    display:block; 
    width:100%; 
    font-weight:bold; 
    text-align:right; 
    line-height:normal;}

/* Footer */

#footer{
    padding:30px 0;
}
#footer h2{
    margin-bottom:10px; 
    border-bottom:1px dotted #999999;
}
#footer p, #footer ul, #footer a{
    margin:0; 
    padding:0; 
    font-weight:normal; 
    list-style:none; 
    line-height:normal;}
#footer .footbox{
    display:block; 
    float:right; 
    width:190px; 
    margin:0 0 0 30px; 
    padding:0;
}
#footer li{
    margin-bottom:3px; 
    line-height:1.6em;
}
#footer .last{
    margin:0;
}
#login{
    display:block; 
    float:left; 
    width:300px;
}
#dyD{
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg);
}
#treD{
    -webkit-transform: rotateZ(190deg); /* Safari */
    transform: rotateZ(180deg);
}

#postcontent{
    display:block; 
    float:left; 
    width:600px;
}


#postcontainer{
    display:block; 
    position:relative; 
    width:960px; 
    margin:0 auto;
    padding:30px 0; 
    line-height:1.4em;}
#postcontainer a{
    color:#2684B7; 
    background-color:#FFFFFF;}
#postcontainer h1, #postcontainer h2, #postcontainer h3, #postcontainer h4, #postcontainer h5, #postcontainer h6{
    padding-bottom:8px; 
    border-bottom:1px dotted #CCCCCC;}

